dcs/
dls/
msc/
pics/
.cache/
.config/vivaldi
.config/i3blocks/i3blocks-contrib
.config/pulse
.config/MuseScore
.config/nvim/plugins.d
.config/nvim/.netrwhist
.config/dwm
.config/st
.config/dwmblocks
.Xauthority
.viminfo
.vim/
.zshplugs/
.password-store/
.local/
.minecraft/
.gnupg/
.mozilla/
.lesshst
.java/
.w3m/
.ssh/
.pki/
.mputils/
rice.git
